[*.cs]
dotnet_diagnostic.IDE0058.severity = error
csharp_style_unused_value_expression_statement_preference = discard_variable
indent_style = space
indent_size = 4

[{Program,Startup,*ServiceCollectionExtensions}.cs]
dotnet_diagnostic.IDE0058.severity = none

[*Tests.cs]
# in test classes we often require nested public types that are accessed via reflection
resharper_member_can_be_private_global_highlighting = none

# we don't really care about performance in test code
resharper_usage_of_default_struct_equality_highlighting = none

[*.csproj]
end_of_line = lf
indent_size = 4

[*.targets]
end_of_line = lf
indent_size = 4

[**]
ij_html_space_inside_empty_tag = true
