[*.cs]
dotnet_diagnostic.IDE0058.severity = error
csharp_style_unused_value_expression_statement_preference = discard_variable
indent_style = space
indent_size = 4

[{Program,Startup,*ServiceCollectionExtensions}.cs]
dotnet_diagnostic.IDE0058.severity = none

[*.csproj]
end_of_line = lf
indent_size = 4

[*.targets]
end_of_line = lf
indent_size = 4

[**]
ij_html_space_inside_empty_tag = true
