/.bin/**
/.claude/**
!/.claude/settings.json
.claude
.idea/
.publish/
bin/
obj/
tmp/
riderModule.iml
/_ReSharper.Caches/
*.user
*.Designer.cs
/src/**/Generated/*
!/src/**/Generated/Conqueror.SourceGenerators
