<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="microsoft.ruleset" ToolsVersion="16.0">
    <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
        <Rule Id="IDE0005" Action="None" /> <!-- this rule often reports false positives and is redundant since it is covered by other analyzers -->
        <Rule Id="IDE0039" Action="Info" />
        <Rule Id="IDE0075" Action="Error" />
    </Rules>
    <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
        <Rule Id="CA1000" Action="Error" />
        <Rule Id="CA1002" Action="None" />
        <Rule Id="CA1008" Action="None" />
        <Rule Id="CA1010" Action="Error" />
        <Rule Id="CA1014" Action="None" />
        <Rule Id="CA1016" Action="None" />
        <Rule Id="CA1018" Action="Error" />
        <Rule Id="CA1019" Action="Error" />
        <Rule Id="CA1024" Action="None" />
        <Rule Id="CA1028" Action="Error" />
        <Rule Id="CA1030" Action="Error" />
        <Rule Id="CA1031" Action="None" />
        <Rule Id="CA1034" Action="Error" />
        <Rule Id="CA1036" Action="Error" />
        <Rule Id="CA1040" Action="None" />
        <Rule Id="CA1041" Action="Error" />
        <Rule Id="CA1043" Action="Error" />
        <Rule Id="CA1044" Action="Error" />
        <Rule Id="CA1051" Action="Error" />
        <Rule Id="CA1052" Action="Error" />
        <Rule Id="CA1054" Action="None" />
        <Rule Id="CA1055" Action="None" />
        <Rule Id="CA1056" Action="None" />
        <Rule Id="CA1061" Action="Error" />
        <Rule Id="CA1062" Action="None" />
        <Rule Id="CA1063" Action="Error" />
        <Rule Id="CA1064" Action="Error" />
        <Rule Id="CA1066" Action="Error" />
        <Rule Id="CA1067" Action="Error" />
        <Rule Id="CA1068" Action="Error" />
        <Rule Id="CA1309" Action="None" />
        <Rule Id="CA1508" Action="None" />
        <Rule Id="CA1707" Action="Error" />
        <Rule Id="CA1708" Action="Error" />
        <Rule Id="CA1710" Action="None" /> <!-- We often intentionally do not adhere to naming suffix conventions, so we disable this rule -->
        <Rule Id="CA1711" Action="Error" />
        <Rule Id="CA1714" Action="Error" />
        <Rule Id="CA1715" Action="Error" />
        <Rule Id="CA1716" Action="None" />
        <Rule Id="CA1717" Action="None" />
        <Rule Id="CA1720" Action="Error" />
        <Rule Id="CA1721" Action="Error" />
        <Rule Id="CA1724" Action="None" />
        <Rule Id="CA1801" Action="Error" />
        <Rule Id="CA1802" Action="Error" />
        <Rule Id="CA1805" Action="Error" />
        <Rule Id="CA1806" Action="Error" />
        <Rule Id="CA1812" Action="None" />
        <Rule Id="CA1813" Action="Error" />
        <Rule Id="CA1814" Action="Error" />
        <Rule Id="CA1815" Action="Error" />
        <Rule Id="CA1819" Action="Error" />
        <Rule Id="CA1822" Action="None" />
        <Rule Id="CA1823" Action="Error" />
        <Rule Id="CA1829" Action="Error" />
        <Rule Id="CA1834" Action="Error" />
        <Rule Id="CA2000" Action="Error" />
        <Rule Id="CA2007" Action="Error" />
        <Rule Id="CA2109" Action="Error" />
        <Rule Id="CA2119" Action="Error" />
        <Rule Id="CA2201" Action="None" />
        <Rule Id="CA2211" Action="Error" />
        <Rule Id="CA2213" Action="Error" />
        <Rule Id="CA2214" Action="Error" />
        <Rule Id="CA2219" Action="Error" />
        <Rule Id="CA2225" Action="None" />
        <Rule Id="CA2226" Action="Error" />
        <Rule Id="CA2227" Action="None" />
        <Rule Id="CA2231" Action="Error" />
        <Rule Id="CA2234" Action="Error" />
        <Rule Id="CA2244" Action="Error" />
        <Rule Id="CA5350" Action="Error" />
        <Rule Id="CA5351" Action="Error" />
        <Rule Id="CA5358" Action="Error" />
        <Rule Id="CA5359" Action="Error" />
        <Rule Id="CA5360" Action="Error" />
        <Rule Id="CA5361" Action="Error" />
        <Rule Id="CA5362" Action="Error" />
        <Rule Id="CA5363" Action="Error" />
        <Rule Id="CA5364" Action="Error" />
        <Rule Id="CA5365" Action="Error" />
        <Rule Id="CA5366" Action="Error" />
        <Rule Id="CA5367" Action="Error" />
        <Rule Id="CA5368" Action="Error" />
        <Rule Id="CA5369" Action="Error" />
        <Rule Id="CA5370" Action="Error" />
        <Rule Id="CA5371" Action="Error" />
        <Rule Id="CA5372" Action="Error" />
        <Rule Id="CA5373" Action="Error" />
        <Rule Id="CA5374" Action="Error" />
        <Rule Id="CA5375" Action="Error" />
        <Rule Id="CA5376" Action="Error" />
        <Rule Id="CA5377" Action="Error" />
        <Rule Id="CA5378" Action="Error" />
        <Rule Id="CA5379" Action="Error" />
        <Rule Id="CA5380" Action="Error" />
        <Rule Id="CA5381" Action="Error" />
        <Rule Id="CA5382" Action="Error" />
        <Rule Id="CA5383" Action="Error" />
        <Rule Id="CA5384" Action="Error" />
        <Rule Id="CA5385" Action="Error" />
        <Rule Id="CA5386" Action="Error" />
        <Rule Id="CA5387" Action="Error" />
        <Rule Id="CA5388" Action="Error" />
        <Rule Id="CA5389" Action="Error" />
        <Rule Id="CA5390" Action="Error" />
        <Rule Id="CA5391" Action="Error" />
        <Rule Id="CA5392" Action="Error" />
        <Rule Id="CA5393" Action="Error" />
        <Rule Id="CA5394" Action="Error" />
        <Rule Id="CA5395" Action="Error" />
        <Rule Id="CA5396" Action="Error" />
        <Rule Id="CA5397" Action="Error" />
        <Rule Id="CA5398" Action="Error" />
        <Rule Id="CA5399" Action="Error" />
        <Rule Id="CA5400" Action="Error" />
        <Rule Id="CA5401" Action="Error" />
        <Rule Id="CA5402" Action="Error" />
        <Rule Id="CA5403" Action="Error" />
        <Rule Id="CA9999" Action="Error" />
    </Rules>
    <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
        <Rule Id="CA1001" Action="Error" />
        <Rule Id="CA1032" Action="Error" />
        <Rule Id="CA1065" Action="Error" />
        <Rule Id="CA1200" Action="Error" />
        <Rule Id="CA1507" Action="Error" />
        <Rule Id="CA1821" Action="Error" />
        <Rule Id="CA2200" Action="Error" />
    </Rules>
    <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
        <Rule Id="CA1303" Action="None" />
        <Rule Id="CA1304" Action="Error" />
        <Rule Id="CA1305" Action="None" />
        <Rule Id="CA1307" Action="None" />
        <Rule Id="CA1308" Action="Error" />
        <Rule Id="CA1310" Action="None" />
        <Rule Id="CA1401" Action="Error" />
        <Rule Id="CA1816" Action="Error" />
        <Rule Id="CA1820" Action="Error" />
        <Rule Id="CA1826" Action="Error" />
        <Rule Id="CA2002" Action="Error" />
        <Rule Id="CA2008" Action="Error" />
        <Rule Id="CA2009" Action="Error" />
        <Rule Id="CA2101" Action="Error" />
        <Rule Id="CA2208" Action="Error" />
        <Rule Id="CA2216" Action="Error" />
        <Rule Id="CA2241" Action="Error" />
        <Rule Id="CA2242" Action="Error" />
        <Rule Id="CA2243" Action="None" />
    </Rules>
    <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
        <Rule Id="CA1810" Action="Error" />
        <Rule Id="CA1824" Action="Error" />
        <Rule Id="CA1825" Action="Error" />
        <Rule Id="CA2010" Action="Error" />
        <Rule Id="CA2207" Action="Error" />
        <Rule Id="CA5350" Action="Error" />
        <Rule Id="CA5351" Action="Error" />
    </Rules>
    <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
        <Rule Id="CA1058" Action="Error" />
        <Rule Id="CA2153" Action="Error" />
        <Rule Id="CA2229" Action="Error" />
        <Rule Id="CA2237" Action="Error" />
        <Rule Id="CA3075" Action="None" />
        <Rule Id="CA3147" Action="None" />
    </Rules>
    <Rules AnalyzerId="Microsoft.NetFramework.CSharp.Analyzers" RuleNamespace="Microsoft.NetFramework.CSharp.Analyzers">
        <Rule Id="CA1300" Action="None" />
        <Rule Id="CA3076" Action="Error" />
        <Rule Id="CA3077" Action="Error" />
    </Rules>
</RuleSet>
